.nav {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

.link {
  color: rgb(110, 82, 103);
  font-weight: 700;
  border: 3px solid rgb(160, 100, 140);
  border-radius: 8px;
  width: 140px;
  padding: 5px 12px;
  text-align: center;
  background-color: rgb(226, 177, 213);
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: rgb(160, 100, 140);
}

.active {
  color: rgb(69, 44, 62);
  text-decoration-line: underline;
}
